// Global styling

$primary: #025272;
$secondary: #6797AA;

.header-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
    border-left: none;
    border-right: none;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
  }
  
#CCPA {
    padding: 30px 5px 0px 5px;  
    font-size: 10px;
    text-align: center;
}
@media screen and (max-width: 900px) {
    #covidActions {display: none;}    
    }
@font-face {
    font-family: "Fivo Sans Medium";
    src: url("../font/FivoSans-Medium.otf");
}

@font-face {
    font-family: "Fivo Sans Regular";
    src: url("../font/FivoSans-Regular.otf");
}

html {
    font-family: "Fivo Sans Regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


h1, h2, h3 {
    font-family: "Fivo Sans Medium", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

// Accessibility

*:focus {
    outline: dotted 2px $secondary;
    outline-offset: 2px;
}

.sr-only {
    position: absolute;
    left: -100vw;
    height: 1px;
    width: 1px;
    white-space: nowrap;
    overflow: hidden;
}

.sr-only-focusable:focus, .sr-only-focusable:active {
    position: relative;
    left: 0;
    z-index: 999;
    height: auto;
    width: auto;
    white-space: normal;
    overflow: visible;
}

// Body 

body {
    margin-top: 148px;
}

.col {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    padding: 64px 0;
}

.sections {
    padding: 0 48px;
    text-align: center;
    line-height: 2;

    h2 {
        font-size: 36px;
        margin-bottom: 0.5em;
    }

    h3 {
        font-size: 20px;
        margin: 16px;
    }
}

.prim-section {
    background-color: hsla(197, 5%, 95%, 1);
    color: hsla(197, 5%, 5%, 1);

    h2 {
        color: $primary;
    }
}

.alt-section {
    background-color: hsla(197, 15%, 15%, 1);
    color: hsla(197, 15%, 85%, 1);

    h2 {
        color: $secondary;
    }
}

.box {
    margin: -16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    >* {
        padding: 16px;
    }
}

.br-mobile {
    display: none;
}

.br-tablet{
    display: none;
}

@media only screen and (max-width: 1024px) {
 .br-tablet{
     display: unset;
 }
}

@media only screen and (max-width: 900px) {
    body {
        margin-top: 100px;
    }

    .sections {
        padding: 0 24px;
    }

    .br-mobile {
        display: unset;
    }
}

@media only screen and (max-width: 500px) {

    .sections {
        padding: 0 16px;
        line-height: 1.75;
        font-family: tr

        h2 {
            font-size: 28px;
        }
    }

    .box>* {
        padding: 12px;
    }
}

@media only screen and (max-width: 400px) {
    .sections {
        padding: 0 8px;
    }

    .box>* {
        padding: 8px;
    }
}

// HEADER & NAVIGATION

.fixed-top {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.top-bar {
    box-shadow: 0px 3px 3px #1440521a;
    background: white;
    padding: 0 8px;
}

.top-bar>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100px;
    padding: 8px 0;

    img {
        height: 100%;
    }
}

#title {
    margin-bottom: 2em;
    text-align: center;
    color: white;
    font-size: 48px;
    line-height: 1.5;
    text-shadow: 2px 2px 2px rgba(1, 1, 1, 0.5);
}

.title-sub {
    font-size: 36px;
    text-align: center;
    color: white;
    line-height: 1.5;
    text-shadow: 2px 2px 2px rgba(1, 1, 1, 0.5);
}

#skip-nav {
    color: $primary;
}

.actions a:first-child {
    background-color: $primary;
    margin-right: 4px;
}

.actions a:last-child {
    background-color: $secondary;
    margin-left: 4px;
}


.actions {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        height: 48px;
        width: 144px;
        padding: 0 8px;
        line-height: 18px;
        font-size: 14px;
        text-align: center;
        color: white;
        text-decoration: none;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    a:hover, a:focus {
        transform: translate(0, -1px);
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
        color: white;
        text-decoration: none;
    }

    a:active {
        transform: translate(0, 1px);
        box-shadow: none;
    }
}
.covidButton {
    background-color: $primary;
    margin-right: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
        height: 48px;
        width: 150px;
        padding: 0 8px;
        line-height: 18px;
        font-size: 14px;
        text-align: center;
        color: white;
        text-decoration: none;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin-top: 10px;
}

.covidButton:hover {
    transform: translate(0, -1px);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3)
}

.covidButton:active {
    transform: translate(0, 1px);
    box-shadow: none;
}
#nav-collapse {
    background-color: $secondary;

    ul {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        display: inline-block;
        padding: 0 24px;
        line-height: 48px;
        text-decoration: none;
        color: white;
        transition: background-color 0.5s ease;
    }

    a:hover, a:active, a:focus {
        background-color: $primary;
    }
}

.menu-icon {
    display: none;
    padding: 12px;
    cursor: pointer;
}

.menu-icon-bar {
    width: 26px;
    height: 2px;
    background-color: $primary;
    margin: 5px 0;
}

@media only screen and (max-width: 900px) {

    .actions {
        position: fixed;
        bottom: 16px;
        right: 8px;

        a {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        }
    }

    .menu-icon {
        display: block;
    }

    #nav-collapse {
        position: fixed;
        top: 100px;
        right: 0;
        height: 0;
        overflow: hidden;
        width: 50vw;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        transition: height 0.3s ease;

        .close {
            padding: 0;
        }

        ul {
            flex-direction: column;
        }

        li {
            border-color: $primary;
            border-bottom: 1px solid white;
            width: 100%;
            text-align: center;
        }

        li:last-child {
            border-bottom: none;
        }

        a {
            height: 48px;
            line-height: 48px;
            width: 100%;
        }

    }

    .open#nav-collapse {
        height: 192px;
        border-bottom: 1px solid $primary;
        border-left: 1px solid $primary;
    }

    // separate selector, Edge browser breaks other selectors with focus-within 
    #nav-collapse:focus-within {
        height: 192px;
        border-bottom: 1px solid $primary;
        border-left: 1px solid $primary;
    }

    #nav-trigger div {
        transition: transform 0.3s;
        transform-origin: left;
    }

    .close {
        div {
            visibility: hidden;
        }

        div:last-child {
            visibility: visible;
            transform: rotate(-33deg);
        }

        div:first-child {
            visibility: visible;
            transform: rotate(33deg);
        }
    }
}

@media only screen and (max-width: 500px) {
    #nav-collapse {
        width: 100vw;
    }

    #nav-collapse.open,
    #nav-collapse:focus-within {
        border-left: none;
    }

    .actions a {
        width: 128px;
    }
}

// CAROUSEL & TITLE

.carousel-wrapper {
    position: relative;
    height: calc(100vh - 148px);
    width: 100%;
    overflow: hidden;
}

.vh-50 {
    height: calc(50vh - 74px);
}

.carousel {
    height: 100%;
    background-color: hsla(197, 15%, 15%, 1);
}

.carousel-slide {
    position: absolute;
    top: 0;
    filter: brightness(0.6);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-previous {
    z-index: 3;
    transition: opacity 1s ease;
    opacity: 0;
}

.carousel-current {
    z-index: 2;
}

.carousel-next {
    z-index: 1;
}

.carousel-overlay {
    position: absolute;
    z-index: 4;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-control {
    position: absolute;
    z-index: 5;
    top: 0;
    height: 100%;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-arrow {
    padding: 16px 8px 24px;
    transition: transform 0.3s, border-bottom 0.3s, height 0.3s;
    cursor: pointer;

    div {
        width: 32px;
        height: 4px;
        background-color: $secondary;
    }
}

.carousel-arrow:hover, .carousel-arrow:focus {
    transform: translate(0, -1px);

    div {
        height: 5px;
        border-bottom: 2px solid hsla(197, 28%, 44%, .5);
    }
}

.carousel-control-left {
    left: 0;

    .carousel-arrow {
        div:first-child {
            transform-origin: left;
            transform: rotate(-45deg) translate(-5px, 5px);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
        }

        div:last-child {
            transform-origin: left;
            transform: rotate(45deg);
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
        }
    }
}

.carousel-control-right {
    right: 0;

    .carousel-arrow {
        div:first-child {
            transform-origin: right;
            transform: rotate(45deg) translate(5px, 5px);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
        }

        div:last-child {
            transform-origin: right;
            transform: rotate(-45deg);
            box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.5);
        }
    }
}

@media only screen and (max-width: 900px) {
    .carousel-wrapper {
        height: calc(100vh - 100px);
    }

    .vh-50 {
        height: calc(50vh - 50px);

        #title {
            margin-bottom: .2em;
            line-height: 1.2;
        }
    }

    #title {
        font-size: 40px;
        margin-bottom: 4em;
    }

    .title-sub {
        font-size: 36px;
    }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    #title {
        margin-bottom: .2em;
        line-height: 1.2;
    }

    .title-sub {
        line-height: 1.2;
    }
}

@media only screen and (max-width: 500px) {
    #title {
        font-size: 32px;
    }

    .title-sub {
        font-size: 30px;
    }

    .carousel-arrow>div {
        width: 24px;
    }
}

@media only screen and (max-width: 400px) {
    #title {
        font-size: 24px;
    }

    .title-sub {
        font-size: 22px;
    }
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    // internet explorer fixes
    .carousel-slide {
        height: auto;
    }

    #nav-trigger {
        display: none;
    }

    #nav-collapse {
        position: static !important;
        height: auto;
        width: 100%;

        ul {
            flex-direction: row;
            border-bottom: none;
        }

        li {
            width: auto;
            border-bottom: none;
        }
    }

    .actions {
        position: static;
    }
}

// SECTIONS & MAIN CONTENT

.scroll-padding {
    padding-top: 148px;
    margin-top: -148px;
}

.services-list {

    li, h3 {
        text-align: left;
    }

    li {
        line-height: 1.5;
    }
}

.person {
    box-sizing: content-box;
    font-size: 16px;
    width: 155px;
    line-height: 1.25;

    img {
        display: block;
        width: 100%;
        border-radius: 50%;
    }

}

.staff-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff {
    display: flex;
    flex-direction: column;
}

.profile {
    margin-bottom: 24px;
    display: flex;

    .bio {
        max-width: 1024px;
        margin-bottom: 24px;
        text-align: left;
        padding: 0 16px;
        font-size: 14px;
        line-height: 1.2;
        flex-grow: 1;
    }

    h3 {
        margin: 0 0 0.5em 0;
        font-size: 24px;
    }

    li, p {
        margin-bottom: .5em;
    }

    img {
        height: 300px;
        border-radius: 4px;
        margin-bottom: 24px;
    }

}

.insurance {
    li {
        padding: 8px;
    }

    img {
        width: 150px;
        vertical-align: middle;
    }

}

#bbblink {
    left: 50%;
    transform: translateX(-50%)
}

.new-patient{
    img{
        display: block;
        width: 48px;
        margin: auto;
    }
}

.contact {
    form {
        padding-top: 64px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button {
        width: 96px;
        height: 48px;
        line-height: 48px;
        padding: 0 8px;
        background-color: $primary;
        border: 1px solid white;
        color: white;
        border-radius: 4px;
    }

    label {
        text-align: center;
        padding: 0 8px;
    }

    input, select, textarea {
        display: block;
        height: 24px;
        width: 300px;
        border: 1px solid hsla(197, 15%, 15%, 1);
        border-radius: 4px;
        padding: 2px;
        background-color: white;
    }
    textarea {
        height: unset;
        line-height: 1.25;
    }
}

.check-group {
    padding: 48px;
}

#contact-terms {
    display: inline-block;
    height: unset;
    width: unset;
}

@media only screen and (max-width: 900px) {
    .scroll-padding {
        padding-top: 100px;
        margin-top: -100px;
    }

    .profile {
        flex-direction: column;
        align-items: center;

        .bio {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 500px) {
    .scroll-padding {
        padding-top: 100px;
        margin-top: -100px;
    }

    .person {
        width: 140px;

        .check-group {
            padding: 24px;
        }
    }
}

// FOOTER

.location {
    h3 {
        font-size: 18px;
        color: #6797aa;
    }
}

footer {
    text-align: center;
    font-size: 14px;
    color: hsla(197, 10%, 55%, 1);

    iframe {
        width: 100%;
        height: 450px;
    }

    li {
        padding: 16px;
    }

    a {
        color: hsla(197, 20%, 55%, 1);
    }
}